body {
    font-size: 0;
}
textarea {
    font-size:20px;
    font-family: "SF Pro", sans-serif;
    width:216px;
    height:60px;
    border-width: 0;
    color: #e3e3e4;
    border-color: #4f4e52;
    background: #4f4e52;
}
button {
    font-size:20px;
    font-family: "SF Pro", sans-serif;
    width:55px;
    height:55px;
    border-width: 1px;
    color: #e1e1e2;
    border-color: #4e4e52;
    background: #77777a;
}
.function_button {
  font-size:20px;
  font-family: "SF Pro", sans-serif;
  width:55px;
  height:55px;
  border-width: 1px;
  color: #e1e1e2;
  border-color: #4e4e52;
  background: #5f5e61;
}
