:root {
    --colour-white: #ffffff;
    --colour-blue: rgba(55, 153, 250, 0.8);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "SF Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--colour-white);
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--colour-blue);
}

/* header */
.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

h1 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.text-center {
    text-align: center;
}

/* containers */
.container {
    width: 80%;
    margin: 3.125rem auto 0 auto;
    background: var(--colour-blue);
    padding: 2.5rem 0.625rem;
    border-radius: 0.4rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* rest of the stuff */
label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    border-radius: 0.5rem;

}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: flex;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 113, 250, 0.25);
}

.input-radio {
    display: inline-block;
    margin-left: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.submit-button {
    margin: 0 auto;
    display: block;
    width: 50%;
    padding: 0.75rem;
    background: #80bdff;
    color: var(--colour-white);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

footer {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    font-size: small;
}

a {
    display: block;
}

/* Add a blue background color to the top navigation */
.topnav {
    background-color: rgb(0, 128, 255);
    overflow: hidden;
    margin-bottom: 2rem;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0959a4;
    color: #9ab6d1;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add bue background to navbar links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #005eff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #84b1ec;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey-blue background colour to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #84abce;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #84b1ec;
}

#Progress {
    width: 100%;
    background-color: grey;
}

#progressBar {
    width: 0;
    height: 30px;
    background-color: #004b80;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(0, 94, 255, 0.5);;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #005eff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: inherit;
    display: none;
    overflow: hidden;
}